*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
max-width: 100%;
    margin: 0 auto;
    font-size: 16px; 
    line-height: 1.4;
}
img{
width: 100%;
    height: auto;
    display: block;
}
p{
    color: rgb(109, 108, 108);
    
    font-size: 20px;
    font-weight: 400;
}

main{
    max-width:1000px;
    margin: 0 auto;
}